DISCORD_WEBHOOK_URL=
DISCORD_USERNAME=Drop Watcher
DISCORD_AVATAR_URL=
DOMAIN=
NOTIFY_ON=404
LOUD=false
DISCORD_MENTION_ID=
STATUS_UPDATE_INTERVAL_MS=15000
DEFAULT_INTERVAL=180
DEFAULT_JITTER=15
DEFAULT_TIMEOUT=15000
