TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_MENTION_ID=
DOMAIN=contoh.id,nama.my.id,toko.biz.id
NOTIFY_ON=404
LOUD=false
STATUS_UPDATE_INTERVAL_MS=15000
DOMAIN_START_DELAY_MS=30000
DEFAULT_INTERVAL=180
DEFAULT_JITTER=15
DEFAULT_TIMEOUT=15000
